.cover__link {
    padding-top: 62.6%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../../images/cover-trains.jpg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
}
.cover__link::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: .335s ease-in-out;
}
.cover__link:hover::before  {
    opacity: 0.8;
}