.place__title {
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 38px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 38px;
    }
}