.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.footer__copyright:before {
    padding-right: 5px;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        line-height: 14px;
        padding-top: 16px;
    }
}