.places {
    width: calc(100% - 2*148px);
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
    .places {
        width: calc(100% - 2*48px);
    }
}

@media screen and (max-width: 1023px) {
    .places {
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
    }
}
