.cover__subtitle {
    max-width: 360px;
    position: relative;
    margin: 32px auto 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
}


@media screen and (max-width: 580px) {
    .cover__subtitle {
        max-width: 260px;
        margin: 16px auto 0 auto;
        font-size: 14px;
        line-height: 16px;
    }
}
