.lead__title {
    margin: 0 auto 32px;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 12vw;
        line-height: 1.15;
        max-width: 90%;
    }
}