.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin: 0 24px 25px 24px;
        max-width: 90%;
        grid-column: 1;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin: 0 auto 25px auto;
        max-width: 90%;
        font-size: 16px;
    }
}