.footer {
    display: flex;
    justify-content: space-between;
    padding: 92px 0 24px 0;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 90%;
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
    }
}
