.cover__title {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    justify-self: center;
    color: white;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
}

@media (max-width: 760px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
    }
}

@media (max-width: 425px) {
    .cover__title {
        max-width: 250px;
    }
}
