.cover__title {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    justify-self: center;
    align-self: end;
    margin: 0;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
}

@media screen and (max-width: 319px) {
    .cover__title {
        font-size: 11vw;
        line-height: 1.1;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 80%;
        font-size: 32px;
        line-height: 35px;
    }
}
