.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    position: relative;
}


@media screen and (max-width: 580px) {
    .cover__title {
        max-width: 250px;
        padding: 0 16px 0 16px;
        font-size: 32px;
        line-height: 35px;
    }
}

