.photo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .photo {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .photo {
        max-width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .photo {
        max-width: 90%;
        gap: 10px;
    }
}