.photo {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 92px;
    max-width: 1184px;
    width: calc(100% - 2*48px);
}

@media screen and (max-width: 1279px) {
    .photo {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .photo {
        width: calc(100% - 2*24px);
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .photo {
        width: calc(100% - 2*16px);
        grid-template-columns: 1fr;
        padding-bottom: 64px;
    }
}