.place__web {
    align-self: end;
    margin-bottom: 48px;
}

@media screen and (max-width: 320px) {
    .place__web {
        margin: 0 16px 32px 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__web {
        margin-left: 24px;
    }
}
