.intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 6vw;
        line-height: 1.1;
        max-width: 90%;
        padding-bottom: 16px;
    }
}
